<div class="container">
<div class="page-header text-center">
  <h1>
    <span class="fa fa-pie-chart"></span>Admin page
    <a class="btn btn-danger" href="/admin/logout">Logout</a>
  </h1>
    
</div>
  
</div>
